<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
  </head>
  <body>
    <h1>Synonyms Manager</h1>
    <div>
      <input [(ngModel)]="synonym.Synonym" placeholder="Synonym" />
      <input [(ngModel)]="synonym.AltSynonyms" placeholder="Alt Synonyms" />
      <input [(ngModel)]="synonym.TechWord" placeholder="Tech Word" />
      <button (click)="addSynonym()">Add</button>
      <button (click)="updateSynonym()">Update</button>
    </div>
    <table>
      <tr>
        <th>Synonym</th>
        <th>Alt Synonyms</th>
        <th>Tech Word</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let s of synonyms">
        <td>{{ s.Synonym }}</td>
        <td>{{ s.AltSynonyms }}</td>
        <td>{{ s.TechWord }}</td>
        <td><button (click)="deleteSynonym(s.Synonym)">Delete</button></td>
      </tr>
    </table>
  </body>
</html>
